#containerLogo{
  display: contents;
  border-radius: 15%;
  width: 200px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  justify-content: center

}
#logo img{
min-width: 150px;
max-width: 300px

}
#padre{
  width:96%;
flex-direction: column;
  margin: 2%;
}
#main{
width: fit-content;
  margin: 2%;

}
form {
  flex-flow:column;
}
.form-check {
    margin:5%;
    position: relative;
    display: block;
    padding-left: 1.25rem;
}
#toRegister{
  font-size: 1em;
  text-align: center;
}
label{


   font-size: 1em;
  text-align: center;

}

body{
  height: -webkit-fill-available;
    display: flex;
    align-content: stretch;
}

.styleTitle {
  padding: 1%;
    margin: 4px 6px 10px 2px;
    border-top: solid 1px darkgray;
    border-bottom: solid 1px darkgrey;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
ul{
  margin-top: 1rem;
    margin-bottom: 1rem;
}

input {
  float:left;
    font-size: 1.5em;
    width: 300px;
    border-radius: 0.5rem;
    background-color: white;

    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;

    border: 1px solid #ced4da;

}
form div {
flex-direction: column;
display: flex;
display: -ms-flexbox;
display: -webkit-flex;
justify-content: center;
align-items: center;

}
.formControl {
    font-size: 1.5em;
    width: 300px;
    border-radius: 0.5rem;
    background-color: white;

    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;

    border: 1px solid #ced4da;

}


p {

   font-size: 1em;
   color: #007bff;
   text-decoration: none;
   text-align: center;
   margin-top: auto;
   margin-left: auto;
   margin-bottom: 0;
   margin-right: auto;

  }

  .navbar-brand {
   display: inline-block;
   padding-top: .3125rem;
   padding-bottom: .3125rem;
   margin-right: 1rem;
   font-size: 1.25rem;
   line-height: inherit;
   white-space: nowrap;
}
.btn {
    margin-top: 5px;
    padding: 1px 6px;
    outline: none;
    white-space: nowrap;
    visibility: visible;
    position: relative;
    width: 70%;
    text-align: center;
    font-size: 15pt;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
  }

.btnHalf{
  margin-bottom: 2px;
    padding: 1px 0px;
    white-space: nowrap;
    position: relative;
    width: 70%;
    text-align: center;
    font-size: 12pt;
  font-weight: 600;
}
.file-input {
    margin-bottom: 3%;

    height: 43px;
    /* padding: 1% 0%; */
    display: block;
    visibility: hidden;
    width: -webkit-fill-available;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.file-input::before {
    margin-top: 11px;
    content: '1-Select your avatar';
    border-radius: 15px 15px 15px 15px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: block;
    padding: 1px 6px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16pt;
    visibility: visible;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fill-available;
    text-align: center;
}
.file-input:hover::before {
  border-color: black;
}
.file-input:active::before {
  background: grey;
}
